/*---------------------------
  ROOT - HTML - BODY - *
----------------------------*/

:root {
  --col-darkest: #4b4b4b;
  --col-dark: #9b9b9b;
  --col-light: #eaeced;
  --col-lightest: #f7f7f7;
  font-size: 1.5vw;
}
/* Hide scrollbar for Browser*/
:root::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------------
  Texts / Typography
----------------------------*/
#Pacifico {
  font-family: "Pacifico", cursive;
  font-size: 1rem;
}
#white {
  color: white;
}

#light {
  color: var(--col-light);
}

#dark {
  color: var(--col-dark);
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 0.8rem 0rem;
}
h2 {
  font-size: 2rem;
  font-weight: lighter;
}

h3 {
  font-size: 1.7rem;
  font-weight: lighter;
  padding-right: 1rem;
}
h4 {
  font-size: 1.3rem;
  padding: 0;
  padding-top: 20%;
  color: white;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
p {
  font-size: 0.75rem;
  color: var(--col-darkest);
  line-height: 1.5rem;
  padding: 0.5rem 0rem;
}

a:hover,
a:active {
  text-decoration: underline;
  color: var(--col-darkest);
}

ul {
  /*user agent ovverides unless set?*/

  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

/*---------------------------
  Buttons
----------------------------*/
.btn {
  display: inline-block;
  font-size: 0.7rem;
  border-color: transparent;
  background-color: var(--col-light);
  color: var(--col-darkest);
  padding-top: 1rem;
  padding-left: 0rem;
  font-variant-caps: all-petite-caps;
  cursor: pointer;
}
.btn--clear {
  background-color: transparent;
}

.btn--clear--video:hover {
  color: var(--col-darkest);
}
.btn--light {
  color: white;
}
circle {
  border: 0.1rem solid var(--col-darkest);
  border-radius: 50%;
}
/*---------------------------
  Layout - Nav - Type: Flex
----------------------------*/
nav {
  background-color: white;
}

.nav-container {
  width: 100vw;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.nav_list-links {
  font-variant: all-small-caps;
  margin-inline-end: 7vw;
}

.nav_list_item {
  display: inline-block;
}

.nav_list_item_link {
  font-size: 0.7rem;
  padding: 1rem 0.9rem;
  display: block;
  text-decoration: none;
  color: var(--col-dark);
}

.nav_list-travel {
  padding-inline-start: 12vw;
}

.link_travel {
  color: var(--col-dark);
  padding: 0;
  padding-top: 10%;
}

/*---------------------------
 Layout -  Site Header - Type: Flex
----------------------------*/
.site-header {
  height: 32rem;
  background-color: #efefef;
  background: linear-gradient(to left, transparent 21vw, #efefef 0vw);
}

.site-header_content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}

.site_header_content_cta {
  margin-right: 10vw;
  background-color: var(--col-darkest);
  color: white;
  padding: 2rem 3rem;
  width: 39.5vw;
  min-height: fit-content;
}

/*---------------------------
 Layout - Vegan destination - Type: Flex
----------------------------*/
.vegan-destination {
  display: flex;
  flex-direction: column;
}
/*Scrollboxes*/
.vegan-scrollbox {
  display: flex;
  justify-content: flex-end;
  margin-top: -3rem;
}
.vegan-scrollbox_arrow {
  background-color: transparent;
  height: 7rem;
  width: 16vw;
  margin-left: 0.7rem;
  text-align: center;
  position: relative;
}
.left_arrow {
  position: absolute;
  bottom: 0;
  left: 10%;
  font-size: 2.5rem;
}
.right_arrow {
  color: var(--col-dark);
  position: absolute;
  bottom: 11%;
  font-size: 1.5rem;
  left: 50%;
}
.vegan-scrollbox_item {
  background-color: var(--col-dark);
  height: 7rem;
  width: 17vw;
  margin-left: 0.7rem;
}
/*Vegan-Texts*/
.vegan-text-cols {
  display: flex;
  justify-content: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.vegan-text-es {
  position: relative;
  width: 24vw;
  height: 10rem;
}
.vegan-text-es b {
  color: var(--col-lightest);
  position: absolute;
  z-index: -1;
  top: -7.5rem;
  left: -2.7rem;
  font-size: 17rem;
}
.vegan-text-h2 {
  width: 20vw;
  height: 10rem;
  margin: 0.5rem;
}
.vegan-text-h2 h2 {
  font-size: 2rem;
  font-weight: bold;
}
.vegan-text-p {
  width: 29vw;
  margin-left: 5rem;
}
/*---------------------------
  Layout - MAIN (Container) - Type: Grid
----------------------------*/
#wrapper {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/*---------------------------
  Layout - Sections Type: Grid / Contents
----------------------------*/
section {
  display: contents;
}
section * {
  position: relative;
}
/*---------------------------
   One
----------------------------*/
.one-box {
  background: var(--col-light);
  grid-column: 1/3;
  margin-left: 6vw;
  height: 36.6vw;
  width: 37.5vw;
}
.one-text {
  grid-column: 3;
  width: 23.8vw;
  padding: 3.5rem 0.7rem;
  margin-left: 0.4rem;
}
.one-direction {
  writing-mode: vertical-rl;
  grid-column: 4;
  top: -4rem;
  margin-right: 6vw;
}
/*---------------------------
  Section Two
----------------------------*/
.two-text {
  grid-column: 1/3;
  width: 26vw;
  margin-left: 8.6vw;
  margin-top: 11.2rem;
}
.two-box {
  background: var(--col-light);
  grid-column: 3;
  height: 37.5vw;
  width: 25vw;
  left: -7vw;
  margin-top: 8.3rem;
}
.two-box-shadow {
  background-color: var(--col-dark);
  grid-column: 4;
  height: 18.2rem;
  width: 18.8vw;
  top: -0.3rem;
  left: -2.3vw;
  box-shadow: 2.7vw 2.7vw var(--col-light);
}
/*---------------------------
  Section Three
----------------------------*/
.three-e {
  grid-column: 1;
  color: var(--col-lightest);
  font-size: 20rem;
  text-overflow: clip;
  line-height: 0;
  left: -5vw;
  z-index: -1;
  top: 66%;
}
.three-h2 {
  grid-column: 2/4;
  justify-self: center;
  height: 18.5rem;
}
.three-h2 h2 {
  font-weight: 600;
  font-size: 2.8vw;
  top: 35%;
}
.three-Bo {
  color: var(--col-lightest);
  grid-column: 4;
  font-size: 17.5rem;
  text-overflow: clip;
  line-height: 0;
  height: 5rem;
  width: 10vw;
  left: -4vw;
  top: 7rem;
}
/*---------------------------
  Section Four
----------------------------*/
.four-box-shadow {
  grid-column: 1/3;
  background-color: var(--col-dark);
  box-shadow: -6rem -3.8rem var(--col-light);
  justify-self: center;
  height: 27.7rem;
  width: 34.7vw;
  margin-left: 3vw;
}
.four-text {
  grid-column: 3/5;
  width: 28.5vw;
  margin-left: 2vw;
  margin-top: 1.8rem;
}
/*---------------------------
  Section Five
----------------------------*/
.five-text {
  grid-column: 1/3;
  justify-self: center;
  width: 29.5vw;
  margin-left: -3vw;
  margin-top: 4.5rem;
}
.five-text h3 {
  padding-right: 0;
}
.five-box-shadow {
  grid-column: 3/5;
  background-color: var(--col-dark);
  box-shadow: 6rem 3.8rem var(--col-light);
  height: 19.6rem;
  width: 41.5vw;
  margin-left: -0.6vw;
  margin-top: -4.8rem;
}
/*---------------------------
  Section Six
----------------------------*/
.six-text {
  grid-column: 1/4;
  color: var(--col-lightest);
  font-size: 13.5rem;
  text-overflow: clip;
  line-height: 1;
  left: -2.5vw;
  bottom: -2.8rem;
  z-index: -1;
}
.six-video {
  background-color: var(--col-darkest);
  color: var(--col-darkest);
  grid-column: 1/4;
  height: 24.8rem;
  width: 90%;
  text-align: center;
  top: -7%;
}
.six-video-btns {
  grid-column: 4;
  top: -10%;
  left: -7.7vw;
}
.btn--clear--video {
  color: var(--col-dark);
  font-variant: normal;
  background-color: transparent;
  font-size: 1rem;
  word-spacing: 1vw;
  padding-bottom: 0.5rem;
}
.btn--clear--video:hover {
  color: var(--col-darkest);
}
.video-circle {
  background-color: transparent;
  color: white;
  z-index: 2;
  border: 0.1rem solid var(--col-lightest);
  border-radius: 50%;
  font-size: 3rem;
  top: 45%;
}
.video-circle:hover {
  background-color: var(--col-dark);
}
/*---------------------------
  Section Seven
----------------------------*/
#seven * {
  grid-row: 8;
}
.seven-quote-under {
  grid-column: 1;
  color: var(--col-dark);
  font-size: 10rem;
  left: 2vw;
  width: 2vw;
  height: 5rem;
}
.seven-quote-over {
  grid-column: 1/3;
  width: 33vw;
  height: 10rem;
  top: 10%;
  left: 12%;
}
.seven-og {
  color: var(--col-lightest);
  grid-column: 1;
  font-size: 17rem;
  line-height: 0;
  height: 2rem;
  width: 10vw;
  left: -6.5vw;
  top: 60%;
}
.seven-box {
  background: var(--col-light);
  grid-column: 3/5;
  height: 26rem;
  width: 43.7vw;
  top: -50%;
  z-index: -1;
}
.seven-quote-below {
  grid-column: 2/4;
  color: var(--col-darkest);
  font-size: 8rem;
  top: 115%;
  left: -1vw;
  font-weight: lighter;
}
/*---------------------------
  Section Eight
----------------------------*/
.eight-text {
  font-size: 2.1rem;
  grid-column: 2/4;
  text-align: center;
  width: 56vw;
  top: -4.2rem;
  left: -3vw;
}

/*---------------------------
  Section Nine
----------------------------*/
.nine-box-shadow {
  background-color: var(--col-dark);
  grid-column: 2;
  height: 37.2vw;
  width: 24vw;
  top: 1.4rem;
  left: -3.5vw;
  box-shadow: -4.3vw 4.5vw var(--col-light);
}
.nine-text {
  grid-column: 3/5;
  color: var(--col-lightest);
  font-size: 14rem;
  text-overflow: clip;
  letter-spacing: 1vw;
  line-height: 1;
  right: -7.7vw;
  z-index: -1;
}
/*---------------------------
Section Ten
----------------------------*/
.ten-text {
  grid-column: 1/3;
  justify-self: center;
  width: 26vw;
  height: fit-content;
  margin-left: 3.5vw;
  margin-top: 7.4rem;
}
.ten-text h3 {
  padding-right: 0;
}
.ten-box {
  grid-column: 3/5;
  background: var(--col-light);
  height: 34.2rem;
  width: 38.5vw;
  top: -48%;
  left: 4%;
}
.above-footer {
  grid-column: 1/5;
  width: 100%;
  margin-top: -10rem;
}
/*---------------------------
Footer: left/mid/right Type: Flex
----------------------------*/
footer {
  display: flex;
  height: 22rem;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  margin-top: -4rem;
  text-align: left;
}

/*---------------------------
footer-left
----------------------------*/
#footer-left > h4 {
  padding: 0;
}
.fab {
  color: var(--col-light);
  border: 0.065rem solid var(--col-light);
  border-radius: 50%;
  font-size: 0.6rem;
  padding: 0.6rem;
  margin: 0.1rem;
}
.fab:hover {
  opacity: 0.5;
}
.fa-facebook-f {
  padding: 0.6rem 0.75rem;
}

.fa-youtube {
  background: #ff0000;
  color: white;
  border-color: #ff0000;
}
/*---------------------------
footer-mid
----------------------------*/
#footer-mid {
  width: 30vw;
  align-self: center;
}
form {
  display: inline-block;
  background: transparent;
  border: 1px solid var(--col-light);
  width: 100%;
}
#email {
  width: 70%;
  background-color: transparent;
  border: 0;
  font-size: 0.6rem;
  margin-left: 2.5vw;
}
input[type="submit"] {
  width: 15%;
  border: 0;
  font-size: 1.2rem;
  float: right;
}
.copyright {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
/*---------------------------
footer-right
----------------------------*/
#footer-right {
  display: flex;
  align-self: center;
}
.footer_list-links {
  font-variant: all-small-caps;
  margin-top: -1rem;
}
.footer_list_item {
  display: inline-block;
}
.footer_list_item_link {
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  display: block;
  text-decoration: none;
  color: var(--col-dark);
}
.footer_list_item_link:hover {
  text-decoration: underline;
  color: white;
}

/* https://www.w3schools.com/cssref/css_selectors.asp */
